    /* Author: Sydney Stalker 
    Class: CST 336 Internet Programming
    Date: 11/4/2025
    Assignment: HW 1: HTML and CSS
    File: styles.css
    Abstract: CSS file defining the layout, colors, fonts, and styles for all pages in the cybersecurity website.  
    */


body{
    background-color:rgb(68, 18, 144);
    color:rgb(198, 174, 234);
}

header, main, nav, footer{
    text-align: center;
}

nav a{
    padding:5px;
    padding-bottom:4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
}

nav a:hover{
    border-bottom:2px darkgrey solid;
    font-size: 2em;
    transition: .9s;
}

main{
    display: flex;
    justify-content: center;
}

footer {
  font-size: .8em;
  background-color: rgb(68, 18, 144);
  color: lightgray;
}

nav a.active {
  border-bottom: 2px solid plum; 
  color: darkgrey; 
  font-weight: bold;
}

header{
  background-color: rgb(68, 18, 144);
  color: rgb(198, 174, 234);
}

table{
    margin: 0px auto;
}

td{
    padding-right: 10px;
    font-size: 1.3em;
}

td strong{
    color: darkgrey;
}

#table-header{
    background-color:#351330;
}

.table-row{
    background-color:#612e56;
}

ul{
    width:500px;
    margin: 0 auto;
    text-align: left;
}

.hobby{
    color: white;
}

body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}



/* New CSS properties not used in Lab 1:
    - letter-spacing
    - cursor 
    These improver hyperlink appearance and usability */

a{
    color: white;
    text-decoration: none;
    transition: color 0.3 ease;
    letter-spacing:0.5px; /*NEW CSS*/
}

a:hover{
    color: grey;
    text-decoration: none;
    cursor: pointer; /*NEW CSS*/
}




