    /* Author: Sydney Stalker 
    Class: CST 336 Internet Programming
    Date: 11/4/2025
    Assignment: HW 1: HTML and CSS
    File: styles.css
    Abstract: CSS file defining the layout, colors, fonts, and styles for all pages in the cybersecurity website.  
    */

body{
    background-color:rgb(68, 18, 144);
    color:rgb(198, 174, 234);
}

header, main, nav, footer{
    text-align: center;
}


/* New CSS properties not used in Lab 1:
   - margin and border-right: add spacing and dividers between links
   - background-color and border-radius on hover: improve link visibility and user interaction */

nav a{
    padding:5px;
    padding-bottom:4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
    margin: 0 10px;
    padding: 0 8px;
    border-right: 1px solid rgb(255, 255, 255, 0.3);
}

nav a:last-child{
    border-right: none;
}

nav a:hover{
    border-bottom:2px darkgrey solid;
    font-size: 2em;
    transition: .9s;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

footer {
  font-size: .8em;
  background-color: rgb(68, 18, 144);
  color: lightgray;
}

nav a.active {
  border-bottom: 2px solid plum; 
  color: darkgrey; 
  font-weight: bold;
}

header{
  background-color: rgb(68, 18, 144);
  color: rgb(206, 188, 232);
}

table{
    border-collapse: collapse;
    margin: 20px auto;
    color: white;
    width: 80%;
    border: 3px rgb(5, 5, 5);
}

th, td{
    border: 2px solid rgb(5, 5, 5);
    padding: 10px;
}

th{
    background-color: rgb(36, 10, 76);
}

tr:nth-child(even){
    background-color:rgb(117, 54, 212);
}

ul{
    width:500px;
    margin: 0 auto;
    text-align: left;
}

.hobby{
    color: white;
}

body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

/* New CSS properties not used in Lab 1:
    - letter-spacing
    - cursor 
    These improver hyperlink appearance and usability */

a{
    color: white;
    text-decoration: none;
    transition: color 0.3 ease;
    letter-spacing:0.5px; /*NEW CSS*/
}

a:hover{
    color: grey;
    text-decoration: none;
    cursor: pointer; /*NEW CSS*/
}

header{
    font-family: "Orbitron", sans-serif;
}

/* New CSS feature for HW1:
   Added an .infobox class to highlight important information.
   Includes new properties such as border-left, box-shadow, and custom padding/margin for visual emphasis. */
.infobox {
  background-color: rgb(36, 10, 76);
  border-left: 6px solid rgb(117, 54, 212);
  padding: 15px 20px;
  margin: 20px auto;
  width: 75%;
  color: (206, 188, 232);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}

.infobox h3 {
  color: rgb(206, 188, 232);         
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}





