body{
    background-color:rgb(97, 96, 96);
    color:#351330;
}

header, main, nav, footer{
    text-align: center;
}

nav a{
    padding:5px;
    padding-bottom:4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
}

nav a:hover{
    border-bottom:2px darkgrey solid;
    font-size: 2em;
    transition: .9s;
}

main{
    display: flex;
    justify-content: center;
}

footer {
  font-size: .8em;
  background-color: rgb(97, 96, 96);
  color: lightgray;
}

nav a.active {
  border-bottom: 2px solid plum; 
  color: darkgrey; 
  font-weight: bold;
}

header{
  background-color: rgb(97, 96, 96);
  color: #351330;
}

table{
    margin: 0px auto;
}

td{
    padding-right: 10px;
    font-size: 1.3em;
}

td strong{
    color: darkgrey;
}

#table-header{
    background-color:#351330;
}

.table-row{
    background-color:#612e56;
}

ul{
    width:500px;
    margin: 0 auto;
    text-align: left;
}

.hobby{
    color: white;
}

body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

